<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="movies">
        <% @results.each do |result| %>
          <% original_object = result.searchable %>

          <h4><%= original_object.title %></h4>
          <p><%= original_object.syllabus %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
